%table.table
  %tr
    %th Nombre
  - barrios.each do |barrio|
    %tr
      %td= barrio.nombre
= render 'shared/dialog'

.chardin_box{ :'data-position' => 'top', :'data-intro' => "Paginador de will_paginate funciona como se esperaba." }
  = will_paginate barrios, renderer: BootstrapPagination::Rails
